RewriteEngine on
Options +FollowSymlinks
RewriteBase /
php_value memory_limit 512M

RewriteEngine On

RewriteRule ^site/index$ / [R=301,L]
RewriteRule ^site/page/(.*/)$ index.php?r=site/page&view=$1 [L,QSA]

# если директория или файл существуют, использовать их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# иначе отправлять запрос на файл index.php
RewriteRule . index.php

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}